html {
    font-family: 'Labrada', serif;}

body {
    background-image: url(https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    margin: 10% 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 35px;

}